:root {
  --off-black: rgba(0, 0, 0, 0.897);
  --aside-width: 220px;
}
body {
  font-family: cursive;
  background-color: rgb(242, 240, 233);
  color: var(--off-black);
}
.security-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
aside {
  background-color: white;
  min-width: var(--aside-width);
  flex-basis: var(--aside-width);
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
main {
  background-color: aqua;
  flex-grow: 1;
  flex-direction: column;
}
.search {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
}
.search > * {
  margin-bottom: 5px;
}
.query-label {
  display: block;
  width: 100%;
  padding: 5px;
}
.search_box_and_btn {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--off-black);
}
.date-range-sec {
  display: flex;
  justify-content: space-between;
}
.spinner-svg {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin: auto;
}
table.hist-data {
  display: table;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
}
table.hist-data > * > tr > * {
  border: 1px solid var(--off-black);
}
.break {
  height: 0;
}
.investment-meta {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 30px;
  gap: 40px;
}
.meta-data-point {
  /* display: flex; */
  text-align: center;
}
