:root {
  /* --off-black: rgba(0, 0, 0, 0.897); */
  --off-black: #00273b;
  --darker: #c1c1c1;
  --dark: #fafafa;
  --light: #fff;
  --aside-width: 220px;
  --dates-width: 100px;
}
body {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--light);
  color: var(--off-black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* general use */
.hidden {
  display: none !important;
}

.security-container {
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
}
aside {
  min-width: var(--aside-width);
  flex-basis: auto;
  place-content: flex-start center;
  display: flex;
  padding: 4px 10px;
}
main {
  margin: 10px;
  background-color: var(--light);
  flex-grow: 1;
  flex-direction: column;
}
.search {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
}
.search > * {
  margin-bottom: 5px;
}
.query-label {
  display: block;
  width: 100%;
  padding: 5px;
}
.search_box_and_btn {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--off-black);
}
.centered-dropdown {
  text-align: center;
}
.date-range-sec {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.date-range-sec > input {
  width: var(--dates-width);
}
.spinner-svg {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin: auto;
}
table.hist-data {
  display: table;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
}
table.hist-data > * > tr > * {
  padding: 3px 8px;
}
table.hist-data > * > tr > td {
  border-top: 1px solid var(--darker);
  border-bottom: 1px solid var(--darker);
  text-align: right;
}
table.hist-data > * > tr > th {
  background-color: var(--light);
}
.dates {
  white-space: nowrap;
  overflow: hidden;
}
.break {
  height: 0;
}
.stick {
  position: sticky;
  top: 0;
}
.investment-meta {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 40px;
}
.meta-data-point {
  /* display: flex; */
  text-align: center;
}
.investment-history {
  display: flex;
  flex-flow: column;
  align-content: space-around;
  justify-content: center;
}
.investment-meta,
.investment-history {
  padding: 30px;
}
.investment-history > * {
  flex-basis: auto;
  flex-grow: 0;
}
@media only screen and (max-width: 600px) {
  .security-container {
    flex-direction: column;
  }
  .non-essential-cell {
    display: none;
  }
}
